body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
}


.qr-code {
    width: 1440px;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.outer-container {
    padding: 70px 0;
}

.main-background {
    background-color: white;
    height: 450px;
    width: 360px;
    border-radius: 15px;
}

.qr-code h1 {
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
}

.qr-code img {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: auto;
}

.qr-code p {
    font-size: 15px;
}

@media (max-width: 960px) {
    body {
        width: 375px;
        margin: auto;
    }
}